@font-face {
  font-family: 'Play';
  src: local('Play'),
    url('/fonts/Play-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Play';
  src: local('Play'),
    url('/fonts/Play-Bold.ttf') format("truetype");
  font-weight: bold;
  font-style: bold;
  font-display: block;
}
