<style type="text/css">
.post-copyright {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 0.5em 1em;
    border-left: 2px solid #ff1700;
    background-color: #f9f9f9;
	line-height:1.6;
}
.post-copyright strong {
	font-weight: 600;
}
.post-copyright li {
	list-style: none;
}
.post-copyright a {
	color: #2d96bd;
}
</style>
<ul class="post-copyright">
	<li class="post-copyright-author">
		<strong>文章作者：</strong>Raphael Huan
	</li>
	<li class="post-copyright-link">
    <strong>文章链接：</strong><a href="{{.Permalink}}">{{.Permalink}}</a>
	</li>
	<li class="post-copyright-license">
		<strong>版权声明：</strong>本站所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank" title="CC BY-NC-ND 4.0">CC BY-NC-ND 4.0</a> 转载请注明来自 <a href="https://blog.gopherhub.org/" target="_blank">Raphael Huan</a>
	</li>
</ul>
