<!-- utterances -->
{{ if .Site.Params.utterances.owner}}
<div class="post">
  <script
    src="https://utteranc.es/client.js"
    repo="{{ .Site.Params.utterances.owner }}/{{ .Site.Params.utterances.repo }}"
    issue-term="{{ .Site.Params.utterances.issueTerm }}"
    theme="{{ .Site.Params.utterances.theme }}"
    crossorigin="anonymous"
    async
  ></script>
  <noscript
    >Please enable JavaScript to view the
    <a href="https://github.com/utterance"
      >comments powered by utterances.</a
    ></noscript
  >
</div>
{{ end }}
