<ul class="stats">
  <li class="categories">
    <ul>
    {{ if isset .Params "categories" }}
      {{ if gt (len .Params.categories) 0 }}
        {{ range .Params.categories }}
          <li><a class="article-terms-link" href="{{ path.Join "categories" (. | urlize | lower) | relLangURL }}/">{{ . }}</a></li>
        {{ end }}
      {{ end }}
    {{ else }}
      <li>None</li>
    {{ end }}
    </ul>
  </li>
  <li class="tags">
    <ul>
    {{ if isset .Params "tags" }}
      {{ if gt (len .Params.tags) 0 }}
        {{ range .Params.tags }}
          <li><a class="article-terms-link" href="{{ path.Join "tags" (. | urlize | lower) | relLangURL }}/">{{ . }}</a></li>
        {{ end }}
      {{ end }}
    {{ else }}
      <li>None</li>
    {{ end }}
    </ul>
  </li>
  <li>
  </li>
</ul>
<hr/>
<div>
  <div>
    <p>文章作者: raphael</p>
  </div>
  <div style="margin-top:0;">
    <p>许可协议:
    <span style="color:#c05b4d;">
    <a rel="license noopener" href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
        CC BY-NC-ND 4.0
    </a>
    </span>
    </p>
  </div>
</div>
<div style="margin-top: 20px;padding-top: 10px;text-align:center;border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: rgb(230, 230, 230);">
    <label style="display: inline-block;min-width: 200px;width: 40%;margin-top: 15px;" for="reward">
        <img style="width: 200px;height: 200px;" src="/img/donate/wechat.png">
        <p>微信打赏</p>
    </label>
    <label style="display: inline-block;min-width: 200px;width: 40%;margin-top: 15px;" for="reward">
        <img style="width: 200px;height: 200px;" src="/img/donate/zhifubao.png">
        <p>支付宝打赏</p>
    </label>
</div>

